{% extends 'base.html' %}
{% block content %}

{% if error %}
<br>
<span class="text-danger"><strong>{{ error }}</strong></span>
<br>
<br>
{% endif %}


<h1>Login</h1>

<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  Username:
  <br>
  <input type="text" name="username" required="required" />
  <br>
  Password:
  <br>
  <input type="password" name="password" required="required" />

  <br>
  <br>
  <input type="submit" class="btn btn-primary" value="Login" />

</form>

{% endblock %}
